extends ../base

block layout-content
  .container(style="margin-top: 5%")
    h1 All Clients
    table.table.table-bordered.table-striped.table-hover
      thead
        tr
          th.text-center(scope="col")
          th.text-center(scope="col", colspan=2) Client
          th.text-center(scope="col", colspan=3) Primary Contact
          th.text-center(scope="col")

        tr
          th.text-center(scope="col") #
          th.text-center(scope="col") Name
          th.text-center(scope="col") Year Founded
          th.text-center(scope="col") Name
          th.text-center(scope="col") Phone Number
          th.text-center(scope="col") Email Address
          th.text-center(scope="col") Actions
      tbody
        each client, index in clients
          tr
            td.text-center= index + 1
            td.text-center= client.name
            td.text-center= client.yearFounded
            td.text-center= client.primaryContact.name
            td.text-center= client.primaryContact.phoneNumber
            td.text-center= client.primaryContact.emailAddress
            td.text-center(style="vertical-align: top; padding: 0px")
              form(method="POST", action="client/delete/" + client.id)
                button.btn
                  i.bi.bi-trash3.text-danger(style="font-size: 1.3rem")